* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  background: rgba(5, 5, 5, 1);
  background: linear-gradient(
      90deg,
      rgba(5, 5, 5, 0.7) 0%,
      rgba(24, 43, 97, 0.55) 46%,
      rgba(8, 4, 131, 0.28) 100%
    ),
    url("./assets/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  .logo {
    img {
      width: 60px;
    }
  }
  .interface {
    display: flex;
    nav {
      a {
        font-size: 20px;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        margin-right: 20px;
        text-decoration: none;
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
  .profile {
    border-radius: 50%;
    background: #7d32af;
    background: #061f68;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 20px;
      padding-left: 3px;
    }
  }
}
.none {
  display: none !important;
}
.err {
  color: red;
  font-size: 18px;
  text-align: center;
}
