.film-wrapper {
  padding: 50px 80px 0;
  .film-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .film-name {
      font-size: 28px;
      font-weight: 800;
      color: #fff;
      margin-bottom: 15px;
      align-self: start;
    }
    .film-slogan {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 30px;
      align-self: start;
    }
    .film-inner {
      display: flex;
      align-self: start;
      .film-left-part {
        padding-right: 80px;

        .film-poster {
          width: 300px;
          height: 450px;
          position: relative;
          align-self: start;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .film-age-limit {
          font-size: 20px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.8);
          display: inline;
          padding: 10px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .film-right-part {
        width: 600px;
        align-self: start;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        .film-year {
          margin-bottom: 10px;
        }
        .film-genres {
          margin-bottom: 10px;
        }
        .film-countries {
          margin-bottom: 10px;
        }
        .film-rating {
          margin-bottom: 30px;
        }
        .film-description {
          font-size: 16px;
          color: #fff;
          margin-bottom: 20px;
        }
        .film-link {
          a {
            display: flex;
            color: rgba(255, 255, 255, 0.5);
          }
          a::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../../assets/player.png);
            background-size: contain;
            background-repeat: no-repeat;
            color: #fff;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
