.search-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  form {
    display: flex;
    input[type="text"] {
      font-size: 18px;
      width: 200px;
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      border-bottom: 1px solid;
      margin-left: 120px;
      margin-right: 20px;
      padding-left: 15px;
    }
    ::placeholder {
      color: #fff;
    }
    button {
      background: transparent;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.title-page {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
}
