.filter-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  .filter-item {
    display: block;
    width: 100px;
    height: 30px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #000 inset;
  }
  .active {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 1);
  }
}
