.wrapper-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: inherit;
  h2 {
    color: #fff;
    font-size: 20px;
  }
  .spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #ccc;
    border-top-color: #7d32af;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 40px;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
